<section id="contact-section" class="contact-section section">
        <h2 class="section-title">Get in Touch</h2>
        <div class="intro">
            <img class="profile-image" src="assets/content/images/profile-image.png" alt="">
            <div class="dialog">
                <p>I am currently actively seeking for new opportunities. I am open for pernament positions in Dubai or remote. Having an interesting idea or opportunity?
                </p>
                <p><strong>I can help with the following:</strong></p>
                <ul class="list-unstyled service-list">
                    <li><i class="fas fa-check" aria-hidden="true"></i>Application architecture</li>
                    <li><i class="fas fa-check" aria-hidden="true"></i>Front-end development with AngularJS</li>
                    <li><i class="fas fa-check" aria-hidden="true"></i>Back-end development with Java/Node</li>
                    <li><i class="fas fa-check" aria-hidden="true"></i>Mobile development for Angular</li>
                    <li><i class="fas fa-check" aria-hidden="true"></i>Performance diagnostics</li>
                </ul>
                <p>Drop me a line at <a href="mailto:aleks.lech@gmail.com">aleks.lech@gmail.com</a> or call me at <a href="tel:0971582829516">+971 58 28 29 516</a></p>
                <ul class="social list-inline">
                    <li class="list-inline-item"><a href="http://linkedin.com/in/aleksanderlech"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/AleksanderLech"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="http://github.com/aleksanderlech"><i class="fab fa-github-alt" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="skype://aleks_gd"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
                </ul><!--//social-->
            </div><!--//diaplog-->
        </div><!--//intro-->

    </section><!--//section-->