<section id="portfolio-section" class="portfolio-section section">
        <h2 class="section-title">Trusted me</h2>
        <ul id="filters" class="filters clearfix">
            <li class="type active" data-filter="*">All</li>
            <li class="type" data-filter=".public">Public</li>
            <li class="type" data-filter=".insurance">Insurance</li>
            <li class="type" data-filter=".transportation">Transportation</li>
            <li class="type" data-filter=".automotive">Automotive</li>
            <li class="type" data-filter=".banking">Banking</li>
            <li class="type" data-filter=".outsorcing">Outsorcing</li>
        </ul><!--//filters-->
        <div class="items-wrapper isotope row">
            <div class="item outsorcing col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/ibm.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item automotive col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/stibo.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item public col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/dubai_goverment.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item public col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/mswia.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item transportation col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/hamburg_sued.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item insurance col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/atena.png" alt="" />
                    </figure> 
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item outsorcing col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/sii.png" alt="" />
                    </figure> 
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item outsorcing col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/speednet.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            
            <div class="item transportation col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/lhsystems.png" alt="" />
                    </figure>   
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            
            <div class="item outsorcing col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/astek.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            

            <div class="item banking col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/nordea.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->

            <div class="item insurance col-lg-3 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/axa.png" alt="" />
                    </figure>
                    <a class="link-mask" onclick="return false;"></a>              
                </div><!--//item-inner-->
            </div><!--//item-->
            
        </div><!--//item-wrapper-->
        
</section><!--//section-->