<header class="header">
    <div class="top-bar container-fluid">
        <div class="actions">
            <a class="btn d-none d-md-inline-block" [href]="'mailto:'+profile.contact.mail"><i class="fas fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
            <a class="btn" [href]="profile.contact.cv" target="_blank"><i class="fas fa-download" aria-hidden="true"></i> Download My Resume</a>
        </div><!--//actions-->
        <ul class="social list-inline">
            <li class="list-inline-item"><a target="_blank" [href]="profile.contact.linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a target="_blank" [href]="profile.contact.github"><i class="fab fa-github-alt" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a target="_blank" [href]="'skype://'+profile.contact.skype"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
        </ul><!--//social-->
    </div><!--//top-bar-->
    
    <div class="intro">
        <div class="container text-center">
            <img class="profile-image" src="assets/content/images/profile-image.png" alt="">
            <h1 class="name">{{profile.name}}</h1>
            <div class="title">{{profile.title}}</div>
            <div class="profile">
                <p>{{profile.summary}}</p>
            </div><!--//profile-->
        </div><!--//container-->
    </div><!--//intro-->
    
    <div class="contact-info">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="email list-inline-item"><i class="fas fa-envelope"></i><a [href]="'mailto:'+profile.contact.mail">{{profile.contact.mail}}</a></li>
                <li class="list-inline-item"><i class="fas fa-phone"></i> <a [href]="'tel:'+profile.contact.phone">{{profile.contact.phone}}</a></li>
                <li class="website list-inline-item"><i class="fas fa-globe"></i><a href="#" target="_blank">{{profile.contact.website}}</a></li>
            </ul>
        </div><!--//container-->
    </div><!--//contact-info-->
    
    <div class="page-nav-space-holder d-none d-md-block">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li class="nav-item"><a class="scrollto nav-link" href="#experiences-section">Experiences</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="#education-section">Education</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="#skills-section">Skills</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="#testimonials-section">Testimonials</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="#portfolio-section">Portfolio</a></li>
                    <li class="nav-item"><a class="scrollto nav-link" href="#contact-section">Contact</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div>
    
  </header><!--//header-->