<div>
  <ng-container *ngIf="resume as r">
    <cv-header [profile]="r.profile"></cv-header>
    <div class="wrapper container">
      <cv-skills></cv-skills>
      <cv-education [education]="r.education"></cv-education>
      <cv-projects [projects]="r.projects"></cv-projects>
      <cv-initiatives [initiatives]="r.initiatives"></cv-initiatives>
      <cv-testimonials [testimonials]="r.testimonials"></cv-testimonials>
      <cv-portfolio [companies]="r.companies"></cv-portfolio>
      <cv-contact [offer]="r.offer" [contact]="r.profile.contact"></cv-contact>
    </div>
  </ng-container>
</div>