<div>
  <ng-template ngIf="{{resume}}">
    <cv-header [profile]="resume.profile"></cv-header>
    <div class="wrapper container">
        <cv-skills></cv-skills>
        <cv-education [education]="resume.education"></cv-education>
        <cv-projects [projects]="resume.projects"></cv-projects>
        <cv-initiatives [initiatives]="resume.initiatives"></cv-initiatives>
        <cv-testimonials [testimonials]="resume.testimonials"></cv-testimonials>
        <cv-portfolio [companies]="resume.companies"></cv-portfolio>
        <cv-contact [offer]="resume.offer" [contact]="resume.profile.contact"></cv-contact>
    </div>
  </ng-template>
</div>