<section id="education-section" class="education-section section">
    <h2 class="section-title">Education &amp; Certifications</h2>
    <div class="row">

        <div class="item col-12 col-md-4">
            <div class="item-inner">
                <h3 class="degree">Master of Science</h3>
                <div class="education-body">
                    Gdansk University of Technology
                </div><!--//education-body-->
                <div class="time">2004 - 2009</div>
                <div class="desc">
                    Applied Computer Science<br>thesis title: <i>"Java EE technology application to build a modern enterprise applications on the example of a system for invoicing"</i>                  
                </div>
            </div><!--//item-inner-->
        </div> <!--//item-->

        <div class="item col-12 col-md-4">
                <div class="item-inner">
                    <h3 class="degree">OCA-JP-7 Java SE 7 Programmer I</h3>
                    <div class="education-body">
                       Oracle
                    </div><!--//education-body-->
                    <div class="time">2014</div>
                    <div class="desc">Completed with score of 86%</div>
                </div><!--//item-inner-->
        </div><!--//item-->

        <div class="item col-12 col-md-4">
                <div class="item-inner">
                    <h3 class="degree">Scrum Master</h3>
                    <div class="education-body">
                    </div><!--//education-body-->
                    <div class="time">2017</div>
                    <div class="desc">Successfully completed 2 days Scrum Master training held in Dubai.</div>
                </div><!--//item-inner-->
        </div><!--//item-->

    </div><!--//row-->
</section><!--//section-->