<section id="testimonials-section" class="testimonials-section section">
        <h2 class="section-title">Testimonials</h2>
        
        <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">
            
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
            </ol>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <blockquote class="quote">      
                        <p><span class="icon-holder"><i class="fas fa-quote-left"></i></span>                            
                            Aleksander Lech has been working for Stibo Systems since spring 2016 as a senior software developer and scrum master. Aleksander has managed to put a lot of structure on our project and he have done a great work with our integration to complex automotive formats, such as TecDoc, NAPA and AutoCare. He is a highly skilled developer, that always deliver high quality code, and improves all code he comes near. It has been a pleasure working with Aleksander, and I hereby give him my best recommendations.</p>
                    </blockquote>    
                    <div class="source">
                        <div class="name">Benjamin Toft Jakobsen</div>
                        <div class="position">Software architect, Stibo Systems</div>
                    </div><!--//source-->   
                                                   
                </div><!--//item-->
                <div class="item carousel-item">
                    <blockquote class="quote">
                        <p><span class="icon-holder"><i class="fas fa-quote-left"></i></span> 
                            Aleksander has excellent programming skills. His wide knowledge and big experience helped many times in solving difficult project issues. I can truly recommend Alex as a very proactive IT expert who can deal with any 'nightmare' level tasks.</p>
                    </blockquote>
                    <div class="source">
                        <div class="name">Jacek Wielich</div>
                        <div class="position">Business Analyst, Nordea Bank</div>
                    </div><!--//source-->   
           
                </div><!--//item-->
                <div class="item carousel-item">
                    <blockquote class="quote">
                        <p><span class="icon-holder"><i class="fas fa-quote-left"></i></span> 
                            Skilled developer with very good OO thinking and Java knowledge. Terrific ideas especially in low level generic system layers. Valuable teammate, good social skills.                    </blockquote>       
                    <div class="source">
                        <div class="name">Maciej Gottfried</div>
                        <div class="position">Software Developer, Atena</div>
                    </div><!--//source-->          
                </div><!--//item-->
                
            </div><!--//carousel-inner-->
        </div><!--//testimonials-carousel-->
        
    </section><!--//section-->