<section id="testimonials-section" class="testimonials-section section">
    <h2 class="section-title">Testimonials</h2>

    <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#testimonials-carousel" [attr.data-slide-to]="index" *ngFor="let testimonial of testimonials ; let index = index" [class.active]="index == 0"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item carousel-item" *ngFor="let testimonial of testimonials ; let index = index" [class.active]="index == 0">
                <blockquote class="quote">
                    <p>
                        <span class="icon-holder">
                            <i class="fas fa-quote-left"></i>
                        </span>
                        {{testimonial.quote}}
                    </p>
                </blockquote>
                <div class="source">
                    <div class="name">{{testimonial.name}}</div>
                    <div class="position">{{testimonial.position}}</div>
                </div>
                <!--//source-->
            </div>
        </div>
    </div>

</section>
<!--//section-->